body{

}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container{
  display: flex;
}

main .container{
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main .box{
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin: 10px;
}

.box input, .box button{
  background: transparent;
  border: 3px solid #0a0a9366;
  border-radius: 2px;
  font-weight: bold;
  padding: 20px;
  margin: 5px;
  cursor: pointer;
  color: #0000008f;
  transition: all 0.3s linear;
}
.box button:hover{
  background: #0a0a9333;
}

.container canvas{
  max-width: 800px !important;
  max-height: 500px !important;
  margin: 50px 40px;
}
